* {
  box-sizing: border-box;
}

/* html,body */
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

/* flex */
.flex {
  display: flex;
}

/* padding */
.p10 {
  padding: 10px;
}
.p10-0 {
  padding: 10px 0;
}
.pl10 {
  padding-left: 10px;
}
.pb10 {
  padding-bottom: 10px;
}

/* float */
.pull-left {
  float: left !important;
}
.clearfix:after {
  clear: both;
  content: '';
  display: table;
}

.text-align-center {
  text-align: center !important;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}

.container {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

/* operation */
.operation > .el-button {
  float: left;
}

.operation > .el-button:not(:first-child) {
  margin-left: 10px;
}

/* 对elementui的switch位置做调整 */
.el-form .el-switch {
  top: -2px;
}

/* tree-view */
.tree-view-container {
  height: 100%;
  margin-left: 210px;
  border: 1px solid #dddee1;
  padding: 10px;
  flex-flow: column;
}

.org-view-tree {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;
  border: 1px solid #dddee1;
}

/* table组件在dialog弹出框显示时会显示滚动条 */
.el-table .el-table__body-wrapper {
  overflow-x: hidden;
}

/* 树组件滚动条问题 */
.el-tree {
  width: 100%;
  overflow-x: auto;
}

.el-tree > .el-tree-node {
  display: inline-block !important;
  float: left;
}
